body {
  font-family: Arial, Gotham, sans-serif;
  color:#484444;
  font-size: 1.1rem;
  line-height: 1.5rem;
   }

nav{
  background-color:#86BD23;
}
#navmenu>ul>li{
  font-size: 1.5rem;
  padding-left: 1rem;
}

#navmenu>ul>li>a:hover{
  font-size: 1.6rem;
  color:#7e7b7b;
}

.btn{
  padding: .5rem;
  font-size: large;
  animation: myAnim 1s ease 0s 1 normal both;
  text-decoration: none;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
  
main{
  background-color: rgb(223, 150, 223);
  min-height: 100vh;
}

form{
  margin: 0 auto;
  border-radius: 15px;
  min-width: 300px;
  background-color: rgb(205, 202, 202) ;
  padding: 2rem;
  font-size: 1.2rem;
}

#displayMoney .card {
  width: 30%; 
  height: 40%;
}

#prizeImg{
 width: 80%;
 margin: 2rem auto;

}


